@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.btn {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.88rem;
  display: inline-block;
  padding: 10px;
  background: #fea301;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  border: none;
}

/* Layout */
.header,
.curriculum,
.stories,
.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
  padding-bottom: 60px;
  border: 1px solid red;
}

.hamburger-menu {
  display: none;
  border: none;
}

/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h3 {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.88rem;
  margin-left: 8px;
}
.menu {
  gap: 2rem;
  list-style: none;
}

.menu li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88rem;
  text-decoration: none;
}

.home {
  color: #fea301;
}
.about {
  color: #01acfd;
}
.facilities {
  color: #05d4df;
}
.admission {
  color: #5d58ef;
}

.contact-btn {
  width: 12.31rem;
}

/* hero styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid red;
}

.hero-content {
  max-width: 640px;
}

.hero-content h1 {
  color: #fea301;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 1.5rem;
}

.hero-content .black {
  color: #111;
}

.hero-content .sky-blue {
  color: #01acfd;
}

.hero-content p {
  color: #111;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.hero-img {
  max-width: 468.6px;
}

.hero-img img {
  width: 100%;
}

.enroll-btn {
  font-weight: 700;
  background: #111;
  width: 12.31rem;
}

/* curriculum styles  */
.curriculum h2 {
  color: #000;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  margin-bottom: 80px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.cards-container .card {
  display: flex;
  max-width: 367.805px;
  max-height: 476.784px;
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  border-radius: 18.864px;
}

.cards-container .card h4 {
  color: #202020;
  font-size: 24.523px;
  font-weight: 700;
  line-height: 30.654px;
}

/* need apply common style in cards-container p and card read more btn */
.cards-container .card p {
  color: #808080;
  text-align: center;
  font-family: Raleway;
  font-size: 15.091px;
  font-weight: 500;
  line-height: 28.296px;
}

.card .read-more-btn {
  text-align: center;
  font-family: "Raleway", serif;
  font-size: 15.091px;
  font-weight: 700;
  line-height: 28.296px;
  border: none;
  background-color: transparent;
}

.card-1 {
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-1 .read-more-btn {
  color: #64c8ff;
}

.card-2 {
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-2 .read-more-btn {
  color: #f0aa00;
}

.card-3 {
  border-radius: 18.864px;
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-3 .read-more-btn {
  color: #8700ff;
}

/* Arrow btn container */
.btn-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.arrow-btn {
  color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 900;
border-radius: 30px;
background: #FEA301;
display: flex;
width: 60px;
height: 60px;
justify-content: center;
align-items: center;
border: none;
}

/* Responsive mobile devices */

@media (max-width: 576px) {
  .header,
  .curriculum {
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }

  .menu,
  .contact-btn,
  .logo h3 {
    display: none;
  }

  .hamburger-menu {
    display: block;
    font-size: 30px;
  }

  .hero {
    flex-direction: column-reverse;
    row-gap: 20px;
    padding: 8px 16px;
    padding-bottom: 60px;
  }

  .hero-content {
    text-align: center;
    padding-left: 20px;
  }

  .hero-content h1 {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 18px;
  }

  .hero-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 18px;
  }

  .hero .hero-img {
    padding: 20px 10px 0 10px;
  }

  .enroll-btn {
    width: auto;
    padding: 6px 24px;
    font-size: 16px;
    border-radius: 8px;
  }

  .curriculum h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }

  .cards-container {
    padding-bottom: 40px;
  }

  .btn-container {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
