@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.btn {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.88rem;
  display: inline-block;
  width: 11.06rem;
  padding: 10px;
  background: #fea301;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  border: none;
}

/* Layout */
.header,
.curriculum,
.stories,
.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
  padding-bottom: 60px;
  border: 1px solid red;
}

.hamburger-menu {
  display: none;
}

/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h3 {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.88rem;
  margin-left: 8px;
}
.menu {
  gap: 2rem;
  list-style: none;
}

.menu li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88rem;
  text-decoration: none;
}

.home {
  color: #fea301;
}
.about {
  color: #01acfd;
}
.facilities {
  color: #05d4df;
}
.admission {
  color: #5d58ef;
}

/* hero styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid red;
}

.hero-content {
  max-width: 640px;
}

.hero-content h1 {
  color: #fea301;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 1.5rem;
}

.hero-content .black {
  color: #111;
}

.hero-content .sky-blue {
  color: #01ACFD;
}

.hero-content p {
  color: #111;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.hero-img {
  max-width: 468.60px;
}

.hero-img img {
  width: 100%;
}

.enroll-btn {
  font-weight: 700;
  background: #111;
}
